@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #f0f8ff;
    border: 3px solid #647598;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #647598;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
